html {
    overflow-x: hidden;
}

:root {
    --tx-border-radius: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

::selection {
    background: var(--md-primary-fg-color);
    color: #ffffff;
}

.md-content__inner {
    margin: 0 !important;
    padding-top: 0;
}

.md-main .md-grid {
    margin: 0;
    max-width: 100%;
}

.md-nav__title,
.md-sidebar img,
.md-sidebar--secondary {
    display: none !important;
}

/* Hide the random "nRF Connect for VS Code" text node. */
.md-nav--primary {
    visibility: collapse;
}
.md-nav--primary a,
.md-nav--primary ul {
    visibility: visible;
}

.md-header__option[data-md-component='palette'] {
    display: none;
}

.tx-container {
    background: linear-gradient(to bottom, var(--md-primary-fg-color), #0077c8 99%, #fff 99%);
    background-blend-mode: lighten;
    z-index: 4;
    height: 350px;
    transition: all 0.2s ease-in-out;
}

.tx-container::before {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    content: attr(data-content);
    white-space: pre;

    color: #ffffff4f;

    display: block;
    position: absolute;
    top: 0;
    left: -70px;

    width: 100%;
    height: 740px;
    overflow: hidden;

    transform: rotateX(0deg) rotateY(0deg) rotateZ(345deg) translateY(-155px) translateX(165px);
    filter: blur(2px) opacity(25%);
    pointer-events: none;
}

.tx-container .md-grid {
    display: flex;
    justify-content: center;
    height: 100%;
}

.tx-hero {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;
    color: var(--md-primary-bg-color);
}

.tx-hero h1 {
    margin: 0;
    font-weight: 700;
    color: var(--md-primary-bg-color);
}

.tx-hero h2 {
    margin: 0;
}

.tx-hero p {
    margin-top: 5px;
}

.tx-hero__content {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

.tx-hero__content button {
    background-color: rgba(255, 255, 255, 0.98);
    border: none !important;
}

.tx-hero__content button:hover {
    background-color: rgba(255, 255, 255, 0.98) !important;
    color: #007dc8 !important;
}

.tx-hero__image {
    width: 11rem;
    height: 11rem;
    order: 1;
    display: flex;
    align-content: center;
}

.tx-hero__image object {
    width: 160px;
    height: 160px;
    opacity: 0.95;
}

img {
    display: block;
    width: 30rem;
    height: auto;
    border-radius: var(--tx-border-radius);
    box-shadow: var(--md-shadow-z2);
    transition: transform 0.5s cubic-bezier(0.075, 0.85, 0.175, 1) 125ms, opacity 0.75s 125ms;
}

img:hover {
    transform: scale(1.02);
}

.md-footer {
    z-index: 4;
}

.section--highlighted {
    background-color: #f4f4f4;
}

.section--highlighted-dark {
    background-color: #333f48;
    color: white;
}

.extension-grid h2 {
    align-items: center;
    display: flex;
    font-weight: 700;
}

.extension-name {
    color: var(--md-primary-fg-color);
    display: inline-flex;
}

.extension-name h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.extension-logo {
    width: 50px;
    height: 100%;
    margin-right: 10px;
}

.extension a {
    margin-top: 20px;
}

.extension button {
    width: 100%;
}

section:last-of-type {
    margin-bottom: 0;
}

@media only screen and (max-device-width: 736px) {
    .tx-container::before {
        left: -192px;
    }

    .tx-hero {
        flex-direction: column-reverse;
    }

    .tx-hero__image {
        width: 8rem;
        height: 8rem;
        justify-content: center;
        padding: 0;
    }

    .tx-container {
        height: fit-content;
    }

    .extension-grid {
        grid-template-columns: auto;
    }
}

@media screen and (min-width: 1220px) {
    .md-sidebar {
        display: none !important;
    }

    .md-sidebar__scrollwrap {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .tx-pair image {
        margin-bottom: 0;
    }
}

/* Mobile / base styles */

body {
    overflow-x: hidden;
}

.section h2 {
    margin-top: 0;
}

.md-typeset figcaption {
    max-width: 600px;
}

.tx-pair h2 {
    margin-top: 2rem;
}

/* SECTION -2 - =SECTION_PANELS */

section.section {
    padding: 25px;
}

.section-inner {
    width: 100%;
}

/* SECTION -1 - =COLUMN_PAIR */

.tx-pair {
    display: flex;
    flex-direction: column-reverse;
}

/* Give the image more space to breath on mobile. */
.tx-pair > img {
    margin-bottom: 25px;
}

/* SECTION 1 - =HERO_HEADER */

/* SECTION 2 - =EXTENSION_GRID */

.extension-grid {
    display: block;
    justify-content: center;
    padding: 50px;
}

.extension-grid .extension {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f4;
    border-radius: var(--tx-border-radius);
    width: 100%;
    padding: 25px;
}

.extension-grid .extension p {
    margin-bottom: 0;
}

.extension-grid .extension:not(:last-child) {
    margin-bottom: 25px;
}

/* SECTION 3 - =REVEAL */

.reveal-container {
    flex-direction: column;
}

.reveal-container {
    display: flex;
    justify-content: space-evenly;
}

.js .reveal-figures figure:nth-child(n + 2) {
    display: none;
}

.reveal-figures {
    transition: all 0.2s ease-in-out;
}

.reveal-figures img {
    width: 650px;
}

.reveal-figures figure {
    min-height: 550px;
}

.reveal-button {
    list-style-type: none;
    cursor: default;
    transition: all 0.1s ease-in-out;
    padding: 15px;
    border-radius: var(--tx-border-radius);
    margin-left: 0 !important;
    color: var(--md-default-fg-color) !important;
}

.reveal-button--active {
    color: var(--md-primary-fg-color) !important;
    box-shadow: var(--md-shadow-z2);
}

.js .reveal-container-inner div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.no-js .reveal-figures {
    display: block;
}

.no-js .reveal-container {
    height: auto;
}

.no-js .reveal-container-inner {
    display: none;
}

.reveal-container-inner > div {
    margin: 0 !important;
}

.reveal-text {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
}

.reveal-text:nth-child(n + 3) {
    display: none;
}

.reveal-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SECTION 5 - =DEVACADEMY */

.devacademy-image {
    background-color: #333f48;
    border-radius: 0;
    padding: 10px;
    box-shadow: none;
    margin-bottom: 25px;
}

.devacademy-image:hover {
    transform: none;
}

.learning-material iframe {
    border-radius: var(--tx-border-radius);
}

.devacademy-image {
    width: 50%;
}

/* Mobile landscape */
@media screen and (min-width: 480px) {
    .no-js .reveal-figures {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .tx-hero {
        padding: 0 75px;
        flex-direction: row-reverse;
    }

    .tx-hero__image object {
        width: 170px;
        height: 220px;
        opacity: 0.95;
    }

    .tx-container .md-grid {
        height: 320px;
    }

    .tx-hero__image {
        padding-right: 2.5rem;
    }

    .tx-hero__content {
        text-align: initial;
        padding: 0px;
    }

    section.strechy {
        max-width: 61rem;
        margin-left: auto;
        margin-right: auto;
    }

    section.section > .section-inner {
        width: 61rem;
        margin: auto;
    }

    .tx-pair {
        flex-direction: column;
        gap: 50px;
    }

    .tx-pair img {
        /* width: 100%; */
        margin-bottom: 0;
    }

    .tx-pair h2 {
        margin-top: 0;
    }

    .extensions-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .extension-grid .extension {
        margin-bottom: 0 !important;
    }

    .reveal-header {
        margin-bottom: 3.2rem;
    }

    .reveal-container {
        flex-direction: row;
        height: 578px;
        gap: 50px;
    }

    .reveal-container-inner {
        display: flex;
        flex-direction: column;
    }

    .reveal-figures figure {
        min-height: auto;
    }

    .migrate-section {
        margin-bottom: 2rem !important;
    }
}

/* Tablet landscape */
@media screen and (min-width: 1024px) {
    .tx-pair {
        flex-direction: row;
        align-items: center;
    }

    .extension-grid {
        display: flex;
        padding: 50px !important;
    }

    .extensions-inner {
        max-width: 61rem;
        margin: auto;
        gap: 25px;
        display: flex;
    }

    .learning-inner {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .learning-material {
        width: 100%;
        margin-top: 80px;
    }

    .learning-material iframe {
        width: 100%;
        border-radius: var(--tx-border-radius);
    }

    .lg-margin-top {
        margin-top: 3rem !important;
    }
}

/* Laptop */
@media screen and (min-width: 1500px) {
    .tx-container .md-grid {
        height: 310px; /* Acccount for larger title bar */
    }
}

/* Desktop */
@media screen and (min-width: 2000px) {
    .section:first-of-type h2 {
        margin-top: 1.6em !important;
    }

    .devacademy-image {
        width: 33%;
    }

    .learning-inner p {
        width: 100%;
    }

    .section-inner p {
        max-width: 100%;
    }

    .extension-grid {
        grid-template-columns: repeat(2, 33%);
    }

    .reveal-header h2 {
        margin-top: 1.6em;
    }

    .md-grid {
        margin-left: auto;
        margin-right: auto;
        max-width: 61rem;
    }
}

div[data-md-component='announce'] + .md-header {
    padding-top: 15px;
}

div[data-md-component='announce'][hidden=''] + .md-header {
    padding-top: 0;
}
